.header_style{
    background-color: #C39077;
    padding: 61px 50px;

    border: 3px solid white;

    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;

    .logo__div{
        display: inline-flex;

        text-decoration: none;

        flex-direction: row;
        gap: 40px;

        justify-content: space-between;
        align-items: center;

        span{
            color: white;
            font-size: 30px;
        }
    }

    .nav__div{
        display: flex;
        flex-flow: row wrap;

        justify-content: space-between;
        gap: 55px;
        align-items: center;

        .nav__component{
            display: inline-flex;
            align-items: center;
            gap: 9px;

            text-decoration: none;

            height: 50px;
            width: 250px;

            background-color: #FEF2E1;
            color: #5D161E;

            border: none;
            border-radius: 30px;

            padding: 12px 23px;

            span{
                text-decoration: none;
                font-family: 'Comic Relief';
                font-size: 22px;
            }
        }:active{
            background-color: #FFD9A2;
        }

        input{
            background: none;
            border: none;
            font-size: 22px;
            color: #5D161E;
            width: 100%;
        }::placeholder{
            color: #5D161E;
            font-size: 22px;
        }:focus{
            outline: none;
        }
    }
}